{{page-title "Schedule Matches"}}
<div class="schedule">

  <h1> This is the page where you can see all the matches for the current season</h1>

  <div class="new-match" ali>

    <LinkTo @route="new-match" class="button">New match</LinkTo>
  </div>

  {{#each @model as |match|}}
  <li>
    <Schedule::Match @match={{match}} />
  </li>
  {{/each}}
</div>