<div class="sel-team">
  <div class="input">
    Team {{@name}}
  </div>
  <select id="team1" class="dropdown input" {{on 'change' this.print}}>
    <option disabled selected value> -- select an option -- </option>
    {{#each this.team_names as | names |}}
    <option value={{names}}>{{names}}</option>
    {{/each}}
  </select>
</div>