<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>CricketCommentary</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="schedule" class="menu-about">
      Schedule
    </LinkTo>
    <LinkTo @route="new-match" class="menu-about">
      New Match
    </LinkTo>
  </div>
</nav>