{{#if this.started}}
<Scoretable @over_score = {{this.over_score1}} />
<Scoretable @over_score = {{this.over_score2}} />
{{else}}
<div class = "center">
      <h1>The Match will start soon </h1>
</div>
{{/if}}